# Most of them are probably not used, but anyways

fancy_einsum
einops
requests
transformers
pytest
click
joblib
tqdm
ipykernel
notebook
ipywidgets
jupyter
flask
matplotlib
numpy-stl
mediapy
pandas
scikit-learn
black
wandb
sentence-transformers
ftfy
tensorboard
pygame
plotly
sympy
accelerate
pre-commit
circuitsvis
torchtyping
typeguard
transformer_lens